@keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-from-left {
    animation: slideFromLeft 1s ease-in-out forwards;
  }
  
  .slide-from-right {
    animation: slideFromRight 1s ease-in-out forwards;
  }
  
  