// _image-section.scss

.image-section {
  .card {
    width: 100%;
    
    .card-img-top {
      width: 100%;
      height: 450px; /* Ajusta la altura de las imágenes, por ejemplo, a 300px */
      object-fit: cover; /* Ajusta la forma en que la imagen se ajusta dentro del contenedor */
      border-radius: 5px;
    }
  }
}

  